{
    "extends": "standard",
    "parserOptions": {
        "ecmaVersion": 8
    },
    "rules": {
        "semi": 0,
        "indent": ["error", 4],
        "camelcase": 0,
        "space-before-function-paren": ["error", {
            "anonymous": "always",
            "named": "never",
            "asyncArrow": "always"
        }],
        "no-fallthrough": 0,
        "no-unused-vars": 0,
        "eqeqeq": 0,
        "operator-linebreak": 0,
        "no-labels": 0,
        "no-inner-declarations": 0,
        "no-undef": 0,
        "standard/no-callback-literal": 0,
        "key-spacing": 0,
        "no-new-func": 0,
        "no-unused-expressions": 0,
        "no-new": 0,
        "eol-last": 0,
        "no-global-assign": 0
    }
}
